body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 ;
    min-height: 1100px;
    background: linear-gradient(to top, rgb(6, 6, 49) , rgba(12, 17, 41) , rgba(19, 25, 56) );
   
}
header{
    align-items: center;
}

.topbar{
    display: flex;
    justify-content: space-between;
    border: 0.1px solid rgba(43, 51, 74);
    margin: 25px;
    border-radius: 15px;
    height: 55px;
    background-color: rgba(12, 17, 41);
    font-size: small;
    
    
}
.nav{
    padding: 0 15px 0 0;
}

.logo{
    background-color: rgba(19, 25, 56);
    border: 0.1px solid rgba(43, 51, 74);
    align-items: center;
    margin: 15px;
    border-radius: 20px;
    padding: 10px 40px;
    height: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;


}
a{
    text-decoration: none;
    color: beige;
}
