body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 ;
    min-height: 1100px;
    background: linear-gradient(to top, rgb(6, 6, 49) , rgba(12, 17, 41) , rgba(19, 25, 56) );  
    
}

.topbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 0.1px solid rgba(43, 51, 74);
    margin: 30px;
    border-radius: 15px;
    height: 55px;
    background-color: rgba(12, 17, 41);
    font-size: small;
    box-shadow: 5px 5px 10px rgba(19, 25, 56); 
}

.nav{
    padding: 0 15px 0 0;
}

.logo{
    background-color: rgba(19, 25, 56);
    border: 0.1px solid rgba(43, 51, 74);
    align-items: center;
    margin: 15px;
    border-radius: 20px;
    padding: 10px 40px;
    height: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: beige;
}

.hero{
    border: 0.1px solid rgba(43, 51, 74);
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    margin: 3px 100px;
    background-color:rgba(12, 17, 41);
    height: 250px;
    
    
}

.hero-actions{
    border: 0.1px solid rgba(43, 51, 74);
    border-radius: 35px;
    margin: 20px ;
    padding: 10px;
    color: beige;
    background-color: #242554;
    width: 400px;
}

.premier-p{
    font-size: small;
    color: #c4c0ca;
}


.button{
    text-align: center;
    font-weight: bold;
    color: beige;
    font-size:small;
    display:flex;
    justify-content: space-around;
}

.btn1{
    background-color: rgb(0, 119, 255);
    padding: 0.7em 2em;
    border: 0.1px solid rgba(43, 51, 74) ;
    border-radius: 999px;
}

.btn2{
    background-color: rgba(12, 17, 41) ;
    padding: 0.7em 2em;
    border: 0.1px solid rgb(0, 119, 255) ;
    border-radius: 999px;
}

.hero-actions2{
    border: 0.1px solid rgba(43, 51, 74);
    border-radius: 35px;
    margin: 28px ;
    padding: 6px 20px;
    color: beige;
    font-size: small;
    font-weight: 600;
    background-color: #242554;
    justify-content: flex-start;
    
}

.progress-container{
    display: flex;
    gap: 20px;
    align-items: flex-end;
    
}


.progress-bar1 {
    border-radius: 10px;
    height: 95px;
    width: 25px;
    margin: px 0;
    background-color: orangered;

}

.progress-bar2 {
    border-radius: 10px;
    height: 130px;
    width: 25px;
    margin: 5px 0;
    background-color: green;
}

.progress-bar3 {
    border-radius: 10px;
    height: 50px;
    width: 25px;
    margin: 5px 0;
    background-color: rgb(0, 119, 255);
}

.progress-bar4 {
    border-radius: 10px;
    height: 105px;
    width: 25px;
    margin: 5px 0;
    background-color: palevioletred;
}

.progress-bar5 {
    border-radius: 10px;
    height: 70px;
    width: 25px;
    margin: 5px 0;
    background-color: blue;
}
.stats{
    display: flex;
    
    
}

.card{
    border: 0.1px solid rgba(43, 51, 74);
    border-radius: 35px;
}

.card_title{
    border: 0.1px solid rgba(43, 51, 74);
    border-radius: 35px;
}

.card_value{
    border: 0.1px solid rgba(43, 51, 74);
    border-radius: 35px;
}







