body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 ;
    min-height: 1100px;
    background: linear-gradient(to top, rgb(79, 79, 173) , rgb(46, 46, 184) , rgb(42, 42, 206) );
}

